
1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
y = 2 
print(y)

2

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(y)

int

4) Crear una variable que contenga tu nombre

In [7]:
x = "Joana Antonella"

5) Crear una variable que contenga un número complejo

In [19]:
n_complejo = 2 + 2j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [20]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [21]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondiente a las variables creadas en el punto 8

In [24]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
var = 10 + 6.5

11) Realizar una operación de suma de números complejos

In [27]:
print( 5j + 32j)

37j

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
print(22 + 32j)

(22+32j)

13) Realizar una operación de multiplicación

In [29]:
print(2*6)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [31]:
var = 27 / 4
print(var)

6.75

16) De la división anterior solamente mostrar la parte entera

In [33]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [34]:
print( 27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
print(6 * 4 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [40]:
a =" Bom "
b = "dia galera."
print(a + b )

 Bom dia galera.

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
"2" == 2
#Es falso por que uno es de tipo cadena y otro es de tipo entero.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [46]:
int( "2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [52]:
# por que no es un numero flotante ya que esta separado por una coma y es de tipo string. Deberia ser asi:
a = float(3.8)

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [61]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [53]:
# 1 por 2 elevado a 2 o 1*2**5 (1<<5)
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + "2" 
#Devuelve error por que son de distinto tipo, uno es entero  el otro es una string.
# Si fueran del mismo tipo cada uno arrojaria un resultado diferente ( 4 o 22)

26) Realizar una operación válida entre valores de tipo entero y string

In [59]:
a = 2 
b = " Elefantes."
print(str(a) + b)

2 Elefantes.